@border-radius-base: 0;
@border-radius-large: 0;
@border-radius-small: 0;
@import  url("./node_modules/bootstrap/less/bootstrap.less");
@import  url("./node_modules/bootstrap-material/less/material-wfont.less");
//@import  url("./node_modules/bootstrap-material/less/ripples.less");
@import url("./frontend/main.less");
@grid-gutter-width:0;