<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo"/>Saayam 4 Kids</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li ><a href="#about-us">About Us</a></li>
                <li ><a href="#the-beginning">The Beginning</a></li>
                <li ><a href="#kids">Kids</a></li>
                <li ><a href="#timeline">Timeline</a></li>
                <li ><a href="#team">Team</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
                <li><a href="#donate"><button class="btn btn-success pull-right">Donate</button></li>
              </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<script type="text/javascript">

    $('.nav li a').on('click', function () {
        $(this).parent().parent().find('.active').removeClass('active');
        $(this).parent().addClass('active') ;
    });
</script>